<nav class="navbar nav-justified navbar-fixed-top 
            navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/dashboard" class="navbar-brand">
        Inicio
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/products">Productos</a>
      </li>
      <li>
        <a routerLink="/categories">Categoria</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="login">
          Iniciar Sesión
        </a>
      </li>
    </ul>    
  </div>
</nav>
<div class="container body-content">
  <router-outlet></router-outlet>
</div>
